:root {
  --scroll-bar-color: #fff;
  --scroll-bar-bg-color: #282c34;
}

html {
  background-color: #282c34;
  color: white;
  font-size: 12px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0.5);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-bar-color) var(--scroll-bar-bg-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--scroll-bar-bg-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar-color);
  border-radius: 20px;
  border: 3px solid var(--scroll-bar-bg-color);
}

main {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 30px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.link {
  color: #61dafb;
}

button {
  font-size: calc(10px + 2vmin);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  width: fit-content;
}

details {
  border: 1px solid #fff;
  border-radius: 0.5rem;
  padding: 0.8rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

summary {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

table {
  border-top: 1px solid #c3c3c3;
  cursor: auto;
  margin: 1rem 0 10px 0;
  padding-top: 1rem;
  width: 100%;
  font-size: 1.3rem;
  text-align: left;
}

table tr td {
  border: 1px solid transparent;
}

table tr:hover td {
  border-top: 1px solid #61dafb;
  border-bottom: 1px solid #61dafb;
  color: #61dafb;
}

.odd {
  background-color: rgba(255, 255, 255, 0.03);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: transparent;
  color: #fff;
  font-weight: bolder;
  font-size: 2rem;
  width: max-content;
  padding: 10px 20px;
  margin: 0.25rem;
  border: 1px solid #fff;
  border-radius: 00.5rem;
  cursor: pointer;
}

button:hover {
  color: #61dafb;
  border-color: #61dafb;
  background-color: rgba(97, 218, 251, 0.07);
}

button:active {
  background-color: rgba(97, 218, 251, 0.3);
}

div.error {
  font-size: 1.5rem;
  color: tomato;
  border: 1px solid tomato;
  max-width: 600px;
  width: 100%;
  margin: 50px auto;
  padding: 30px;
}

div.error code {
  border: 1px solid tomato;
  padding: 0.5rem 1rem;
  background-color: rgba(255, 99, 71, 0.07);
}

div.error h3,
div.loading h3 {
  margin: 0;
}

div.loading {
  max-width: 600px;
  width: 100%;
  font-size: 1.5rem;
  color: #61dafb;
  margin: 50px auto;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #61dafb;
}

nav.menu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 1280px;
  margin: 0 30px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #fff;
}

nav.menu a {
  color: #fff;
  text-decoration: none;
  text-transform: lowercase;
  font-weight: bold;
  margin-left: 2rem;
}

nav.menu a:hover {
  color: #61dafb;
}
